<div>
  <div>
    <div class="col-lg-12">
      <div class="col-lg-6">
        <h2><%= "#{city}, #{country}"%></h2>
        <p><%= description %></p>
      </div>
      <div class="col-lg-6">
        <%= link_to "Refresh", weathers_path, class: "btn btn-primary refresh" %>
      </div>
    </div>
    <%= image_tag temp_icon, width:"128", height:"128" %>
  </div>
  <%= render partial: 'summary' %>
  <div>
    <div>
      <a href="http://openweathermap.org/" target="_blank">OpenWeatherMap</a>
    </div>
  </div>
</div>

