<div class="col-lg-7">
  <% if success? %>
      <div>
        <div class="col-lg-12">
          <h2><%= "#{city}, #{country}"%></h2>
          <p>
            <%= description %>
            <b><%= temperature %><span>°C</span></b>
          </p>
          <%= link_to "", weathers_path, class: "btn btn-primary glyphicon glyphicon-refresh" %>
        </div>
        <div class="col-lg-4">
          <%= image_tag temp_icon, width:"128", height:"128" %>
        </div>
        <%= render(partial: 'summary') %>
      </div>
  <% else %>
      <h1><%=  @message %></h1>
      <%= link_to "", weathers_path, class: "btn btn-primary glyphicon glyphicon-refresh" %>
  <% end %>
</div>
<%= render(partial: 'search') %>

